<ion-view id="mapmain" hide-back-button="true" ng-init="onMapReady()" ng-controller="MapMainCtrl">
    
    <ion-content scroll="false" >
		<!-- <img ng-src="img/map_icon/speed.png" width="30%" style="position:absolute; bottom:15px; left:10px; z-index:50; text-align:center;">
        <div class="text-center" style="font-size:2em; position: absolute; bottom: 6%; left: 11.8%;; z-index: 50; text-align: center;">{{speeds}}<br>
            <div style="font-size:0.5em; text-align: center;">km/h</div>
        </div> -->
        <div id="map_canvas" data-tap-disabled="true"></div>
        <!-- <div id="divImage" style="position:absolute;top:25%;width:100%;display:{{ImageDisplay}};background-color:white" ng-if="ImageDisplay === true")>
            {{ImageSource}}
            <img src="{{ImageSource}}" style="width:200px;height:200px"/>
        </div> -->
        <!-- <div id="divDisplayImage" style="top:25%;width:100%;display:none;background-color:white">
            <img id="imgDisplayImage" src="" style="width:200px;height:2--px;margin:0 auto;">
        </div>
        <div class="line-breaker" id="divMessageModal" ng-click="CloseMessageModal()" ng-mousedown="CloseMessageModal()" >
        </div> -->
<!--
        <script>
        <div id="divMessage" style="position:absolute;top:0px;left:0px;z-index:5;width:100%;height:100%;display:none">
            <div id="divMessageContent" style="margin:0 auto;width:80%;background-color:white">
                <div id="divMessageTitle" style="width:100%;display:none"></div>
                <div id="divMessageVideo" style="width:100%;display:none">
                    <video id="vidMessage" autoplay>   
                    </video>
                </div>
                <div id="divMessageImage" style="width:100%;display:none"></div>
                <div id="divMessageText" style="width:100%;display:none"></div>
            </div>
        </div>
        function CloseDisplayImage() {
            document.getElementById("divDisplayImage").style.display = "none";
        }
        </script>
-->
    </ion-content>
</ion-view>