<ion-view id="SleepMode" hide-nav-bar="true">
    <ion-content>
        <!--       Implements HTML here-->
        <img class="bo2" ng-src="img/sleepmode2.png" width="100%" height="auto">
        
        <div class="row button-content" ng-click="wake()">
       <a class="bok button button-block button-positive" style="margin-right:4px; line-height:45px; height:9%; width:50%">WAKE UP</a>
        </div>
        
       <!-- <button class="rearrange button button-dark">
            button-dark
        </button>-->
    </ion-content>

</ion-view>