#cctvview{
    ion-content{
        background-color: #FFF;
    }
    ion-item{
        color: black;
    }
    .img-sizes{
        width:100%;
        height:auto;
        max-width: 110px;
        max-height: 90px;
        margin-top: 10px;
    }
    .item-thumb-content{
        margin-left: 30px;
        margin-top: 10px;
    }
}
//#cctv{
//    margin-bottom: 35px;
//}