#login {
    #logo {}
//    ion-content {
//        background: url("../img/headerbg.png") fixed center;
//        background-repeat: no-repeat;
//        background-size: contain;
//        background-position: top;
//    }

    ion-pane {
        background-color: white;
    }
    .top-content {
        //        background-color: $top-content-bg;
        .top-content-item {
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            .top-logo {
                margin-top: 10px;
                margin-bottom: 10px;
                @media screen and (max-width: 320px) {
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
                @media screen and (min-width: 414px) {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .form-title {
        color: $orange;
        font-size: 1.5em;
        @media screen and (max-height: 480px) {
            font-size: 1em;
        }
    }
    .sub-title {
        color: black;
        font-size: 0.8em;
    }
    .forgot-text {
        //        margin-top: 20px;
        margin-bottom: 10px;
    }
    .signuptext {
        color: $orange;
        margin-bottom: 10px;
    }
    .rounded {
        border-radius: 8px;
    }
    //    .dev-button1 {
    //        min-height: 34px !important;
    //        color: #FFF;
    //        border-radius: 8px;
    //    }
}