#setting {
    ion-content {
        background-color: #FFF !important;
    }
    .list {
        background-color: #FFF !important;
        color: #000;
    }
    ion-item {
        background-color: #F2F0F5 !important;
        border: 1px solid #888;
        border-right: 0px;
    }
    .overlay {
        position: relative;
        display: inline-block;
    }
    .overlay a {
        position: absolute;
        //        background-color: #f99f1e;
        top: calc(50% - -20px);
        left: calc(50% - -15px);
    }
//    .img-shadow {
//        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.7);
//        border-radius: 100%;
//        border-si
//    }
    .list-color {
        color: #000;
    }
}