#signup {
    #logo {}
    ion-pane {
        background-color: $light3;
    }
//    ion-content {
//        background: url("../img/headerbg.png") no-repeat fixed center;
//        background-repeat: no-repeat;
//        background-size: contain;
//        background-position: top;
//    }
    .top-content {
        //        background-color: $top-content-bg;
        .top-content-item {
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            .top-logo {
                margin-top: 10px;
                margin-bottom: 10px;
                @media screen and (max-width: 320px) {
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
                @media screen and (min-width: 414px) {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    //    .form-title {
    //        color:$orange;
    //        font-size:2.2em;
    //    }
    .sub-title {
        color: $top-content-bg;
        font-size: 1em;
    }
    .row {
        padding: 5px;
    }
    .row.spacing {
        margin-top: 2%;
    }
    .footer-text {
        margin-top: 50px;
        font-size: 1.1em;
        padding-right: 10px;
        padding-left: 10px;
        .link {
            color: #f99f1e;
        }
    }
    .rounded {
        border-radius: 8px;
    }
    .dev-button {
        background-color: $orange;
        min-height: 34px !important;
        color: #FFF;
        border-radius: 8px;
    }
    .dev-button1 {
        min-height: 34px !important;
        color: #FFF;
        border-radius: 8px;
    }
    .item-profile {
        height: 120px;
        .item-avatar > img:first-child {
            max-width: 100px;
            max-height: 100px;
        }
    }
}