    #SleepMode {
        //    Implements UI styling here
        .bo2 {
            position: relative;
            display: inline-block;
        }
      /*  .rearrange {
            position: absolute;
            top: 71%;
            left: 33%;
        }*/
   /*     .button button-block {
            background-image: url(../img/button-wakeup.png);
            position: absolute;
            top: 77%;
            left: 40%;
            background-color: white;
            background-size: 200% auto;
            background-repeat: no-repeat;
            background-position: -1px;
            COLOR: black;
        }*/
        
        .bok{
            background-color: white;
            font-weight: bold;
            position: absolute;
            top: 75%;
            left: 25%;
            color: #7F1518;
        }
}