#verify {
    .button-stretch {
        width: 100%;
    }
    .col-offset-15 {
        margin-left: 15%;
    }
    ion-content {
        background-color: #FFF;
    }
    .item .row,
    .item .col {
        padding: 0;
    }
}