<div class="cctv-map-modal">
    <div style="background-color: transparent; background: url(img/map_icon/cctvmodal.png) no-repeat fixed; background-size: 90% auto; background-position: 50% 9%;" class="modal image-modal" ng-click="closeModal()">
        <img width="50%" ng-src="{{dataimg}}" style="margin-left: auto; margin-right: auto; display: block; margin-top:18%" />
        <div style="text-align:center; margin-top: 5%; margin-left:5%; margin-right:5%; font-size:1.5em;"><strong>{{id}}</strong></div>
        <div style="text-align:center; margin-top: 1%; margin-left:5%; margin-right:5%">{{location}}</div>

    </div>
</div>