<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">My Modal title</h1>
    </ion-header-bar>
    <ion-content>
        <div id="satisfaction">
            <div style="background-color: #FFF;" class="modal image-modal transparentss">


                <ion-item>
                    <div class="satisfaction-details">

                        <div class="firstbox">
                            <div class="branch">
                                <img ng-src="img/sangat.png" width="80%">
                            </div>
                        </div>
                        <div class="firstbox">
                            <div class="branch">
                                <img ng-src="img/happy.png" width="80%">
                            </div>
                        </div>
                        <div class="firstbox">
                            <div class="branch">
                                <img ng-src="img/sad.png" width="80%">
                            </div>
                        </div>

                    </div>

                </ion-item>

                <div class="list">
                    <div class=" item item-divider" style="white-space:normal; color: #000;">
                        Adakah perkhidmatan bantual awal ini berkesan dalam mengurangkan kesesakan lalulintas?
                    </div>

                    <label class="item item-radio" style="    color: #000;">
                        <input type="radio" name="group1">
                        <div class="item-content">
                            Ya
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>

                    <label class="item item-radio" style="    color: #000;">
                        <input type="radio" name="group1">
                        <div class="item-content">
                            Tidak
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio" style="    color: #000;">
                        <input type="radio" name="group1">
                        <div class="item-content">
                            Tidak Pasti
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <div class=" item item-divider" style="white-space:normal; color: #000;">
                        Pada pandangan anda, adakah perkhidmatan yang disediakan ini perlu diteruskan?
                    </div>

                    <label class="item item-radio" style="    color: #000;">
                        <input type="radio" name="group1">
                        <div class="item-content">
                            Perlu
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>

                    <label class="item item-radio" style="    color: #000;">
                        <input type="radio" name="group1">
                        <div class="item-content">
                            Tidak Perlu
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio" style="    color: #000;">
                        <input type="radio" name="group1">
                        <div class="item-content">
                            Tidak Pasti
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </div>



                <div></div>
                <div></div>
                <div>Apakah pandangan anda atau cadangan anda bagi menambahbaik mutu perkhidmatan yang disediakan ini.</div>

                <!--
        <a ng-click="closeModal()" class="button button-clear btn-footer float-right"><i class="icon ion-ios-close-outline" style="color:black;"></i></a>
        <ul class="flex-container">
            <li class="flex-item">1</li>
            <li class="flex-item">2</li>
            <li class="flex-item">3</li>
        </ul>
-->
            </div>
        </div>
    </ion-content>
</ion-modal-view>