<!--
<ion-view id="walkthrough" hide-nav-bar="false">
    <ion-content>
-->
<!--       Implements HTML here-->

<!--        <img class="walkthroughbackground" ng-src="img/sleepmode1.png" width="100%" height="auto"> -->



<!--<body ng-app="ionicApp">-->

<!-- <ion-nav-bar class="bar-light">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>-->

<!-- <ion-nav-view></ion-nav-view>-->


<!--<script id="templates/intro.html" type="text/ng-template">-->





<ion-view id="walkthrough" hide-back-button="true">
    

  

<!--    <ion-slide-box >-->
    
       <ion-slide >
            
           
            <h3 class="a1" >INFO TRAFFIC</h3>

            <div >
                <img  ng-src="img/guidetraffic.png" width="43%" height="auto" >
                <div id="koko1" >
                    <p>
                        Check for road closures
                    </p>
                    
                    <p>
                     to plan your journey better.
                    </p>
                </div>
                 <div class="row " style="padding-left: 20px; padding-right: 20px; margin-top:1%">
          
        </div>
            </div> 
                
           <h3 class="a1" >INFO DBKL</h3>

            <div >
                <img  ng-src="img/guidedbkl.png" width="43%" height="auto" >
                <div id="koko1" >
                    <p>
                        Keep updated on DBKL's
                    </p>
                    <p>
                        latest news and promotions.
                    </p>
                    <p>
                        Click the button below to navigate.
                    </p>
                </div>
                 <div class="row " style="padding-left: 20px; padding-right: 20px; margin-top:1%">
            <button class="col col-90 button dev-button img-centered" style="width:100%; line-height:10px" ng-click="actionDbkl()">
                HIGHLIGHT
            </button>
        </div>
            </div>
                
       </ion-slide>

       


<!--    </ion-slide-box>-->
</ion-view>
<!--</script>-->

<!-- </body>-->


<!--

    </ion-content>

</ion-view>-->