<ion-view hide-nav-bar="true" >
    <ion-content>
        <!--        <ion-item style="margin: 0; padding:0;">-->
        <div class="top-content">
            <div class="top-content-item">

                <img id="logo" src="img/headerbg.png" width="100%" height="auto" style="position:absolute;">
                <img ng-click="download()" class="animated headShake top-logo" id="logo" src="img/header_logo.png" width="40%" height="auto" style="margin-top:5%; margin-left: 32%; position: relative;">
            </div>
        </div>
        <!--        </ion-item>-->
        
    </ion-content>
</ion-view>