<ion-view id="mapmain" hide-nav-bar="false" hide-back-button="true" ng-init="onMapReady()" ng-controller="MapMainCtrl">
    
    <ion-content scroll="false" >
		<img ng-src="img/map_icon/speed.png" width="30%" style="position:absolute; bottom:15px; left:10px; z-index:50; text-align:center;">
        <div class="text-center" style="font-size:2em; position: absolute; bottom: 6%; left: 11.8%;; z-index: 50; text-align: center;">{{speeds}}<br>
            <div style="font-size:0.5em; text-align: center;">km/h</div>
        </div>
        <div id="map_canvas" ></div>
        <div id="divImage" style="position:absolute;top:25%;width:100%;background-color:white" ng-if="ImageDisplay === true")>
            {{ImageSource}}
            <img src="{{ImageSource}}" style="width:200px;height:200px"/>
        </div>
        <div id="divDisplayImage" style="top:25%;width:100%;display:none;background-color:white">
            <img id="imgDisplayImage" src="" style="width:200px;height:2--px;margin:0 auto;">
        </div>
        <div class="line-breaker" id="divMessageModal" ng-click="CloseMessageModal()" ng-mousedown="CloseMessageModal()" >
        </div>

    </ion-content>
</ion-view>