<ion-view id="vms">
    <ion-content>

        <ion-list class="listdir">

            <ion-item class="padding-xxs item-icon-right  " collection-repeat="item in data " item-width="100%">
                <!--                <div class="spacing">-->
                <div style="white-space: pre-line; text-align: center; background-color: black; color: yellow; line-height: 25px;">
                    {{item}}
                </div>
            </ion-item>

  
        </ion-list>

    </ion-content>
</ion-view>